<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
    <div class="container">
        {% if request.user.is_authenticated %}
        <a class="navbar-brand text-white" href="{% url 'blog-index' %}">AgoraBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'users-profile' %}">Profil <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'users-logout' %}">Deconnexion</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'users-sign-up' %}">Inscription<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'users-login' %}">Connexion</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>