{% extends 'partials/base.html' %}
{% block title %}Post Detail Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="alert alert-danger">
                        Voulez vous supprimer ce post ?
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'blog-post-detail' post.id %}">Annuler</a>
                        <input class="btn btn-primary btn-sm" type="submit" value="Confirmer">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}