{% extends 'partials/base.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-5 offset-md-6">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Page de connexion</h4>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary btn-block" type="submit" value="Se connecter">
                        </form>
                        <hr>
                        <div class="text-center my-3">
                            <a href="{% url 'password_reset' %}">Mot de passe oublié</a>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class="btn btn-success" href="{% url 'users-sign-up' %}">Creation d'un compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}