{% extends 'partials/base.html' %}
{% block title %}Logout Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Page de deconnexion</h4>
                    <hr>
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                    <a href="{% url 'users-login' %}">Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}