{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Page de mot de passe réinitialisé</h4>
                    <hr>
                    <div class="alert alert-info">
                        Your password reset is successful. Log in with new credentials
                        Votre mot de passe a été réinitialisé. Connexion avec vos nouveaux identifiants.
                    </div>
                    <a href="{% url 'users-login' %}">Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}